@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: #ccc;
  font-family: 'Roboto';
}

.commonPage .pageInner {
  width: 210mm;
  height: 297mm;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  background: #fff;
}

.commonPage .pageInner .content {
  padding: 2rem 3rem;
}

.firstPage .header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-bottom: .2rem solid #000;
  padding-bottom: 0.5rem;
}

.firstPage .header .headerInfo .headerTitle {
  font-size: 1.9rem;
  font-weight: 700;
  color: #1B4489;
}

.firstPage .header .headerInfo .headerSubtitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

.firstPage .header .headerInfo .infoList {
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.firstPage .header .headerInfo .infoList .left {
  max-width: 40%;
}

.firstPage .header .headerInfo .infoList .right {
  max-width: 59%;
}

.firstPage .header .headerInfo .infoList ul {
  list-style-position: inside;
}

.firstPage .header .headerInfo .infoList ul li {
  font-size: 1.3rem;
  font-weight: 700;
  color: #318CDD;
  padding-bottom: .5rem;
}

.firstPage .header .logo {
  width: 12rem;
}

.logoAndDownloadBtn {
  text-align: right;
}

.downloadPdf {
  border: none;
  box-shadow: none;
  background: #318CDD;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}

.sectionTitle {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
  padding-bottom: .75rem;
}

.bold {
  font-weight: 700 !important;
}

.regular {
  font-weight: 400 !important;
}

.step_1 {
  padding-top: .5rem;
}

.step_1 .formCtrl {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.step_1 .formCtrl .leftForm {
  width: 48%;
}

.step_1 .formCtrl .rightForm {
  width: 48%;
}

.innerTitle {
  font-size: 1.3rem;
  font-weight: 700;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.singleInfo {
  margin-bottom: .45rem;
}

.singleInfo .title {
  font-size: 1.3rem;
  border-bottom: 1px solid #000;
  padding-bottom: .4rem;
  padding-top: .4rem;
}

.singleInfo input {
  margin-right: .5rem;
}

.threeInfoInOne {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.threeInfoInOne .singleInfo:first-child {
  width: 40%;
}

.threeInfoInOne .singleInfo:nth-child(2) {
  width: 25%;
}

.threeInfoInOne .singleInfo:last-child {
  width: 25%;
}

.addMt {
  margin-top: 1rem;
}

.borderNone {
  border: none !important;
}

.dflex {
  display: flex;
}

.twoInfoInOne {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.borderBottom {
  border-bottom: 1px solid #000;
}

.shipingAddress {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.step_2 {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-top: 1.5rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.step_2 .sectionTitle {
  padding-top: 1rem;
}

.step_2 .leftPartOfStep_2 {
  width: 50%;
  border-right: 2px solid #000;
  padding-right: 1rem;
  height: 100%;
}

.step_2 .rightPartOfStep_2 {
  height: 100%;
  width: 50%;
  padding-left: 1rem;
}

.singleProduct {
  padding: 1rem 0;
}

.singleProduct .productHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.singleProduct .productHeader .finalPrice {
  padding-left: 2rem;
}

.singleProduct .productBody {
  display: flex;
  align-items: center;
}

.singleProduct .productBody .productDetails {
  padding-left: 1rem;
  font-size: 1.15rem;
}

.step_3 {
  padding-top: 2rem;
}

.step_3 .flexCtrl {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.step_3 .sectionTitle {
  padding-bottom: 2rem;
}

.step_3 .leftOfStep_3 {
  width: 48%;
}

.step_3 .rightOfStep_3 {
  width: 48%;
}

.Expiration .singleInfo:first-child {
  width: 67%;
}

.Expiration .singleInfo:last-child {
  width: 25%;
}

.checkboxCtrl {
  display: flex;
  align-items: center;
  padding-top: .7rem;
}

.checkboxCtrl .title {
  font-size: 1.1rem;
  border: none;
}

.checkboxCtrl .singleInfo {
  display: flex;
}

.step_4 {
  padding-top: 2rem;
}

.step_4 .aggrimentDetails {
  font-size: 1.3rem;
}

.sponsorName,
.sponsorNumber {
  font-weight: 700;
  display: inline-block;
  text-align: center;
  padding-left: 4rem;
}

.sponsorNumber {
  padding-left: 7rem;
}

.signatrueAndDate {
  padding-top: 2rem;
}

.signatrueAndDate .singleInfo:first-child {
  width: 73%;
}

.signatrueAndDate .singleInfo:last-child {
  width: 23%;
}

.signatrueAndDate .title {
  padding-bottom: .5rem;
}

.declimer {
  font-size: 0.95rem;
  text-align: center;
  padding: 1rem;
}

.date {
  text-align: right;
  font-size: 1.3rem;
  padding-top: 1rem;
}